.level-sheet{
  padding: 0 10%;
  background-color: #f8f8f8;
}
.level-sheet .table-row {
  display: flex;
  width: 100%;
}

.level-sheet .table-row-cell {
  flex: 1;
  background-color: #ccc;
  border: 1px solid black;
  border-radius: 3px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.level-sheet .cell-1000-to-1299 {
  background-color: grey;
}

.level-sheet .cell-1300-to-1599 {
  background-color: rgb(89, 211, 89);
}

.level-sheet .cell-1600-to-1899 {
  background-color: rgb(9, 184, 163);
}

.level-sheet .cell-1900-to-2199 {
  background-color: rgb(101, 112, 237);

}

.level-sheet .cell-2200-to-2499 {
  background-color: rgb(219, 114, 238);

}

.level-sheet .cell-2500-to-2799 {
  background-color: rgb(231, 143, 85);

}

.level-sheet .cell-2800-to-3099 {
  background-color: rgb(234, 66, 66);

}

.level-sheet .cell-3100-to-3399 {
  background-color: rgb(186, 22, 22);

}

.level-sheet .cell-3400-to-3699 {
  background-color: rgb(245, 250, 245);

}