.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding: 0 30px;

  background-color: white;
  border-bottom: 1px solid #ccc;
}

.left-logo {
  display: flex;
  align-items: center;
  height: 100%;   /* take full navbar height */
  /* width: 200px; */
}

.nav-icon {
  width: 150px;
  height: auto;
  display: block;
}

.right {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;

  margin: 0;
  padding: 0;
}

.nav-list a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  padding: 8px 0;
  position: relative;
  transition: color 0.2s ease;
}

.nav-list a:hover {
  color: #1a73e8;
}

.nav-list a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;

  width: 0;
  height: 2px;

  background-color: #1a73e8;
  transition: width 0.3s ease;
}

.nav-list a:hover::after {
  width: 100%;
}

.navbar button {
  height: 40px;
  padding: 8px 16px;

  border: none;
  border-radius: 5px;

  background-color: #1a73e8;
  color: white;
  font-weight: 500;

  cursor: pointer;
  transition: background-color 0.2s ease;
}

.navbar button:hover {
  background-color: #1558b0;
}